<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/Life-Expectanc">WHO Life Expectancy</a></strong>
			<br>
			Tech Stack: Numpy, Pandas, Scikit-learn, Matplotlib.
			<br>
			An analysis and machine learning implementation of life expectancy data from WHO.
		</h5>
		<h5 style="text-align: center">
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/Analyzing-with-dask">Analyzing with Dask</a></strong>
			<br>
			Tech Stack: Numpy, Pandas, Dask, Matplotlib, Plotly.
			<br>
			A groupwork of 2 members to analyze the U.S. flight data to extract insight about flight delay factors. In this project, 
			we will be working with dask library on a over 1.5GB dataset and extract as much as information from it.
			<br>
			The dataset contains scheduled and actual departure and arrival times reported by certified U.S. air carriers that account for at least one percent 
			of domestic scheduled passenger revenues. The data is collected by the Office of Airline Information, Bureau of Transportation Statistics (BTS) and can
			be access <a href="https://www.transtats.bts.gov/">here</a>.
			<br>
			In this project:
			<li> Using dask for big dataset </li>
			<li> Handling missing values and outliers using IQR... </li>
			<li> Visualizing extracted information with plotly </li>
			<li> etc... </li>
		</h5>
    		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/movie-review-classification">Movie-review-classification</a></strong>
			Tech Stack: NLTK, Scikit-learn, Keras, Doc2Vec, Word2Vec.
			
			Classification project of movie reviews with NLTK.

			Refereces: Multi-Class Text Classification Model Comparison and Selection, 2018, Susan Li.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/Web-scraping-with-Python">Web Scraping with Python</a></strong>
			Tech Stack: BeautifulSoup, Plotly, Plotly express.
			
			An analysis of Finland daylight information scraped from timeandate.com website.
		</h5>
    </div>
  </div>
</div>
</section>
