<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	    
	    	<h5 style="text-align: justify">
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/Life-Expectancy">Facial Expression Detection</a></strong>
			<br>
			<strong>Tech Stack:</strong> CNN, Dlib, Tensorflow, Streamlit.
			<br>
			An application can classify six common human facial expression: Happy, Fear, Sad, Angry, Disgust and Surprise, using CNN, a deep convolutional neuron 
			network.
			<br>
			The model was trained on our manually collected dataset which is consisted of approximately 60k images. They are portrait, or id (head and face towards 
			the camera) pictures of 80 volunteers (male and female adults). Each set of the emotion pictures is taken in 3 different light conditions: strong,
			weak and dark.
			<br>
			In this application:
			<ul>
				<li> An image can be uploaded and all the faces in it will be labeled with an expression </li>
				<li> Real-time expression detection using webcam </li>
			</ul>
		<h5 style="text-align: justify">
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/Life-Expectancy">WHO Life Expectancy</a></strong>
			<br>
			<strong>Tech Stack:</strong> Numpy, Pandas, Scikit-learn, Matplotlib.
			<br>
			An groupwork of 2 members to conduct an analysis and machine learning implementation of life expectancy data from WHO.
			<br>
			The dataset contains life expectancy, health factors for 193 countries in 15 years from 2000 to 2015 and can be accessed 
			<a href="https://www.kaggle.com/kumarajarshi/life-expectancy-who">here</a>
			<br>
			In this project:
			<ul>
				<li> EDA with Numpy,Pandas and visualization with matplotlib </li>
				<li> Implementing machine learning models for both classification and regression problems using scikit-learn </li>
				<li> Creating and solve unsupervised and semisupervised learning problem with PCA, t-SNE, and clustering algorithm Gaussian Mixture Bayesian Gaussian Mixture </li>
				<li> etc... </li>
			</ul>
		</h5>
		<h5 style="text-align: justify">
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/Analyzing-with-dask">Analyzing with Dask</a></strong>
			<br>
			<strong>Tech Stack:</strong> Numpy, Pandas, Dask, Matplotlib, Plotly.
			<br>
			A groupwork of 2 members to analyze the U.S. flight data to extract insight about flight delay factors. In this project, 
			we will be working with dask library on a over 1.5GB dataset and extract as much as information from it.
			<br>
			The dataset contains scheduled and actual departure and arrival times reported by certified U.S. air carriers that account for at least one percent 
			of domestic scheduled passenger revenues. The data is collected by the Office of Airline Information, Bureau of Transportation Statistics (BTS) and can
			be accessed <a href="https://www.transtats.bts.gov/">here</a>.
			<br>
			In this project:
			<ul>
				<li> Using dask for big dataset </li>
				<li> Handling missing values and outliers using IQR... </li>
				<li> Visualizing extracted information with plotly </li>
				<li> etc... </li>
			</ul>
		</h5>
    		<h5 style="text-align: justify">
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/movie-review-classification">Movie-review-classification</a></strong>
			<br>
			<strong>Tech Stack:</strong> NLTK, Scikit-learn, Keras, Doc2Vec, Word2Vec.
			<br>
			A Comparison of positive/negative movie review classification of several models.
			<br>
			In this project, we will try to classify whether the comments are negative or positive  using NLTK. The dataset is 50,000 movie comments which can be 
			accessed <a href="https://www.kaggle.com/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews">here</a>.
			<br>
			Refereces: Multi-Class Text Classification Model Comparison and Selection, 2018, Susan Li.
		</h5>
		<h5 style="text-align: justify">
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/Web-scraping-with-Python">Web Scraping with Python</a></strong>
			<br>
			<strong>Tech Stack:</strong> BeautifulSoup, Plotly, Plotly express.
			<br>
			An analysis of Finland daylight information scraped from website.
			<br>
			The used dataset is from <a href="https://www.timeanddate.com/astronomy/finland">timeanddate</a> website and focuses on four cities:
			Helsinki, Jyvaskyla, Rovaniemi, Ivalo from 2015 to 2020.
		</h5>
	    	<h5 style="text-align: justify">
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/IMDB-classification-project">IMDB classification project</a></strong>
			<br>
			<strong>Tech Stack:</strong> Numpy, Pandas, Scikit-learn, Seaborn, Plotly.
			<br>
			A classification project that compares different classification models in term of f1_score and classification accuracy. The dataset contains 28 
			variables for 5,043 movies, spanning across 100 years in 66 countries. Their IMDB score will be divided in 2 groups: higher or equal to 7 and lower
			than 7. Our classification models will try to classify the movie into those two groups.
			<br>
			The dataset can be accessed <a href="https://data.world/data-society/imdb-5000-movie-dataset">here</a>.
			<br>
			In this project:
			<ul>	
				<li> Data cleaning & analysis: Numpy, Pandas </li>
				<li> Data visualization: Plotly, Seaborn </li>
				<li> Data preprocessing OneHotEnconder, SMOTE </li>
				<li> Model implementation: </li>
					<ul>
						<li> Linear Classification with LogisticRegression, SGDClassifier </li>
						<li> SVC </li>
						<li> DecisionTreeClassifier </li>
						<li> Ensemble: VotingClassifier, Bagging, RandomForest, Adaboost, XGBoost </li>	
					</ul>
			</ul>
			
		</h5>
	    	<h5 style="text-align: justify">
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/IMDB-rating-predict">IMDB rating predict</a></strong>
			<br>
			<strong>Tech Stack:</strong> Numpy, Pandas, Scikit-learn, Seaborn, Plotly.
			<br>
			Extension version of previous IMDB classification project. This project tries to predict the IMDB score of movies with different regressors.
			<br>
			The dataset can be accessed <a href="https://data.world/data-society/imdb-5000-movie-dataset">here</a>.
			<br>
			In this project:
			<ul>	
				<li> Data cleaning & analysis: Numpy, Pandas. </li>
				<li> Data visualization: Plotly, Seaborn. </li>
				<li> Data preprocessing OneHotEnconder, Feature Selection, Polynomial Feature. </li>
				<li> Model implementation: </li>
					<ul>
						<li> Linear Regressor, RANSAC, SGDRegressor </li>
						<li> SVC </li>
						<li> DecisionTreeRegressor </li>
						<li> Ensemble: VotingRegressor, Bagging, RandomForest, Adaboost, XGBoost </li>	
					</ul>
			</ul>
		</h5>
    </div>
  </div>
</div>
</section>
