<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/Life-Expectanc">WHO Life Expectancy</a></strong>
			Tech Stack: Numpy, Pandas, Scikit-learn, Matplotlib.
			
			An analysis and machine learning implementation of life expectancy data from WHO.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/Analyzing-with-dask">Analyzing with Dask</a></strong>
			Tech Stack: Numpy, Pandas, Dask, Matplotlib, Plotly.
			
			An analysis of the big U.S. flight data to extract insight about flight delay factors.
		</h5>
    		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/movie-review-classification">Movie-review-classification</a></strong>
			Tech Stack: NLTK, Scikit-learn, Keras, Doc2Vec, Word2Vec.
			
			Classification project of movie reviews with NLTK.

			Refereces: Multi-Class Text Classification Model Comparison and Selection, 2018, Susan Li.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vuchau8592/Web-scraping-with-Python">Web Scraping with Python</a></strong>
			Tech Stack: BeautifulSoup, Plotly, Plotly express.
			
			An analysis of Finland daylight information scraped from timeandate.com website.
		</h5>
    </div>
  </div>
</div>
</section>
